:root {
  --EPL-Green: #01fe87;
  --EPL-Green2: #13cf00;
  --EPL-Pink: #ff2882;
  --EPL-Red: #e90052;
  --EPL-Purple: #963cff;
  --EPL-Primary: #37003c;
  --EPL-Secondary: #410d46;
  --EPL-Black: #242424;
  --EPL-Grey: #ebebe6;
  --EPL-White: #ffffff;
  --EPL-Gradiant: linear-gradient(270deg, #ff2882 0%, #963cff 63.3%);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--EPL-Primary);
  color: var(--EPL-White);
  margin: 0px;
}

@media only screen and (max-width: 600px) {
  body {
    background-size: auto 100%;
  }
  footer {
    padding: 10px;
  }
  .Layout {
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color: var(--EPL-White);
}

.Layout {
  margin: 1rem;
}

main {
  display: block;
  min-height: 80vh;
  margin: 1em 0em;
}

footer {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  padding: 30px;
}

footer a {
  text-decoration: none;
  color: #01fe87;
}

.Logo-Wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Logo {
  max-width: 44px;
}

.Logo-Text {
  margin-left: 12px;
  height: 100%;
  font-style: normal;
  text-align: left;
}
.Logo-Span {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.Logo-Heading {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin: 0;
}

.Nav {
  overflow: auto;
  white-space: nowrap;
  padding: 0px;
  margin-top: 25px;
}

.Nav a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  line-height: 16px;
  letter-spacing: 0em;
  margin-right: 24px;
  padding-bottom: 12px;
  transition: 0.3s;
  text-decoration: none;
  color: var(--EPL-White);
}

.Nav a:hover {
  padding-bottom: 8px;
  border-bottom: 4px solid var(--EPL-Pink);
}
.Nav a:active {
  padding-bottom: 8px;
  border-bottom: 4px solid var(--EPL-Pink);
}
